.dotted-underline {
    border: none;
    border-bottom: 5px dotted #352818;
    outline: none;
    padding: 5px;
    background-color: transparent;
    font-family: "Handwriting", sans-serif;
}

.typewriter {
    font-family: "TypeWriter";
}

.paper-clip {
    background-image: url("/images/paper-for-typewriting-compressed.jpg");
    background-repeat: repeat;
}
